# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space

[makefile]
indent_style = tab

[*.plist]
indent_style = tab

[{.zshrc, .zshenv}]
indent_size = 4

[*.{js,yml,md,vim}]
indent_size = 2

[*.{sh,toml}]
indent_size = 4
