<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>gnu.emacs4osx.daemon</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/bin/arch</string>
			<string>-x86_64</string>
			<string>/Applications/Emacs.app/Contents/MacOS/Emacs</string>
			<string>--daemon</string>
		</array>
		<key>StandardOutPath</key>
		<string>/tmp/gnu.emacs4osx.daemon.stdout</string>
		<key>StandardErrorPath</key>
		<string>/tmp/gnu.emacs4osx.daemon.stderr</string>
		<key>RunAtLoad</key>
		<true/>
		<key>KeepAlive</key>
		<dict>
			<key>SuccessfulExit</key>
			<false/>
			<key>Crashed</key>
			<true/>
		</dict>
		<key>ServiceDescription</key>
		<string>Gnu Emacs for OSX daemon (x86_64)</string>
	</dict>
</plist>
