#ignorefiles

.cache
.games
.lsp-session*
.tmp
auto-save-list
bookmarks
session.*
transient
url
var

# elpa packages
/elpa/
/elpa_*/

# eshell files
/eshell/

# local .el files
custom.el
local.el
*.elc
