#ignorefiles

.dap-breakpoints
.lsp-session*
.org-id-locations
.tmp
/.cache/*
/.cask/*
/eln-cache/*
/games/*
/url/*
/var/*
auto-save-list
bookmarks
projectile-bookmarks.eld
session.*
tramp
transient

# elpa packages
/elpa/*
/elpa_*/*

# el-get
/el-get/*

# straight
/straight/*

# eshell files
/eshell/*

# local .el files
custom.el
local.el
*.elc
